#intro p{
    display: inline;
}

#stop{
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
}

#searchButton{
    margin-top: 3%;
}
.text-right {
    text-align: right;
  }
li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  #weather {
    border: 2px black solid;
    padding: 5px;
    height: 200px;
  }

  #gas {
    border: 2px red solid;
    padding: 5px;
    height: 200px;
  }

  #fourDay {
    border: 2px black dashed;
    padding: 5px;
    margin-top:10px;
    height: 200px;
    text-align: center;
  }
  
  #moreInfo {
    float: right;
  }