:root{
  --main1:rgb(0,191,255);
  --main2: rgb(221, 218, 218); 
  --main3:rgb(255,0,0);
}

body{
  background-color: var(--main2);
  font-family: 'Poppins';font-size: 22px;
}

#intro p{
    display: inline;
}

#stop{
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
}

.text-right {
    text-align: right;
  }
  
li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }

  h4 {
    padding-bottom: 1px;
  }

  #weather, #gas {
    font-weight: bold;
    font-size: 15px;
    margin-top: 1em;
  }

  #weatherPhoto{
    border-radius: 5px;
    opacity: 60%;
  }

  #gasPhoto{
    border-radius: 5px;
    opacity: 60%;
  }

  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; 
    
  }

  #fourDay {
    margin-top:10px;
    height: 200px;
  }

  #day1, #day2, #day3, #day4 {
    border: black solid 2px;
    border-radius: 7px;
    background-color: var(--main1);
    padding: 4px;
    overflow: auto;
  }
  
  #moreInfo {
    float: right;
  }

  #aboutUs2, #comingFeatures2, #info2, #resources2 {
    border: black solid 2px;
    background-color: var(--main1);
    border-radius: 7px;
    height: 200px;
    padding: 10px;
    margin-top: 5px;
    overflow: auto;
  }

  #list {
    display: block;
  }

  
.top-right {
  position: absolute;
  top: 50%;
  right: 90%;
  text-decoration-thickness: 5px;
 Text-decoration-color: white;
 font-size: 40px;
}

/* -------------- Hover Effects ---------------- */
  #aboutUs:hover, #comingFeatures:hover, #info:hover, #resources:hover, #home:hover {
    color: var(--main3);
    
  }

  #searchBtn {
    
    box-shadow: inset 0 0 0 0 var(--main3);
    transition: ease-out .4s;
  }

  #searchBtn:hover {
    box-shadow: inset 300px 0 0 0 var(--main3);
    color: whitesmoke;
    border: 2px solid var(--main3);

  }