#intro p{
    display: inline;
}

#stop{
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
}

#searchButton{
    margin-top: 3%;
}
.text-right {
    text-align: right;
  }
li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  